@use 'vars' as *;

.about-content{
h2{
    font-size: 1.5rem;
    text-transform: uppercase;
    padding-top: 10rem;
    text-align: start;
    padding-left: 1rem;
    margin: .5rem auto;
    color: $textcolor;
    font-family: $headerfont;
    
}
h3{
    font-size: 1.3rem;
    color: $textcolor;
    padding-left: 1rem;
    font-family: $headerfont;
}
p{
    font-size: 1rem;
    text-align: center;
    color: $textcolor;
    font-family: $bodyfont2;
    line-height: 1.5;
    margin: 1rem 0 ;
}

.about{
    border: 1px solid $bordercolor;
    padding: 1.2rem;
    max-width: 90%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
   
    &h3 {
       padding-top: 2rem;
       margin-bottom: 0;
       padding-left: 1rem;
   }
}
}
.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center; 
}
.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 13px;
    border: 1px solid $bordercolor;
    border-radius: 8px;
    color: $textcolor;
    font-size: 1.2rem;
    width: 25%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    & span{
        text-transform: uppercase;
        font-family: $bodyfont2;
        margin: 0.1rem;
    }
 
}

.tech-stack #mySQL span svg path{
    fill: white;
}
.tech-stack #WP span svg path{
    fill: white;
}


.tech-stack .tech-icons{
    svg{
        width: 40px;
        height: 40px;
    }
}
.techstack-single{
    .tech-item{
        padding: 5px;
        width: 30%;
        height: auto;
    }
    .tech-stack{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
}
@media screen and (min-width: 50em) {
    .about-content {
        h2 {
            font-size: 2.2rem;
            text-align: start;
            margin-top: 30rem;
            margin-left: 15%;
            padding-bottom: 1rem;
        }
        .about {
            font-size: 1.5rem;
            max-width: 70%; 
        }
        h3 {
            padding-top: 5rem;
            padding-bottom: 1rem;
            font-size: 2rem;
            max-width: 65%;
            margin: 0 auto;
            
            
        }
        p{
            font-size: 1.5rem;
        }
    }
    .tech-stack {
        gap: 24px;
        width: 55%;
        margin: 0 auto;
        padding: 7px;
    }
    .tech-item{
        width: 20%;
    }
}