@use 'vars' as *;

.contact-content{
    h2{
        text-transform: uppercase;
        font-size: 1.5rem;
        padding-top: 10rem;
        text-align: start;
        padding-left: 1rem;
        margin: .5rem auto;
        color: $textcolor;
        font-family: $headerfont;

    }
    p{
        text-align: center;
        font-family: $bodyfont2;
        color: $textcolor;
        max-width: 90%;
        margin: 0 auto;
        line-height: 1.5;
        padding-bottom: 1rem;
    }
   
   a.email{
    display: block;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: $textcolor;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px; 
    padding: 10px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    font-family: $bodyfont;

   }
   a.linked{
    display: block;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: $textcolor;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px; 
    padding: 10px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    font-family: $bodyfont;
    
    
   }
   a.github{
    display: block;
    width: fit-content;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: $textcolor;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px; 
    padding: 10px 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
    font-family: $bodyfont;
    
    
   }
   .git{
    padding-top: 2rem;
   }
   .linking{
    padding-top: 2rem;
   }
}

@media screen and (min-width: 50em) {
    .contact-content {
        a.email{
            font-size: 1.4rem;
        }
        a.linked{
            font-size: 1.4rem;
        }
        a.github{
            font-size: 1.4rem;
        }
        p{
            font-size: 1.4rem;
            padding-bottom: 1rem;
        }
        h2{
            text-align: center;
            padding-bottom: 1rem;
            font-size: 2.2rem;
        }
    }
}
