@use 'vars' as *;
p.copyright{
    padding-bottom: 5rem;
    text-align: center;
    padding-top: 3rem;
    color: $textcolor;
    font-family: $bodyfont;
    letter-spacing: 1.5px;
}
@media screen and (min-width: 50em) {
    p.copyright{
        padding-bottom: 1rem;
    }
}