@use 'vars' as *;



.container {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .centered-div {
    width: 30%; 
  }


.header-content{
    h1{
        // width: 250px;
        font-size: 2.3rem;
        // padding-left: 1rem;
        text-align: center;
        padding-top: 5rem;
        font-family: $headerfont;
        color: $textcolor;
    }
    p{
        font-size: 1.2rem;
        text-align: center;
        font-family: $bodyfont;
        color: $textcolor;
    }

}
div#root{
    padding: 0;
}

@media screen and (min-width: 50em) {
    .desktop-nav {
        .nav-icon {
          content: url('/assets/white-home.png');
        }
        .nav-icon#about {
          content: url('/assets/white-about.png');
        }
        .nav-icon#works {
          content: url('/assets/white-works.png');
        }
        .nav-icon#mail {
          content: url('/assets/white-mail.png');
        }
      }
    .container{
        display: block;
        img{
            width:125px;
            height:125px;
           
        }
    }
    .header-content{
        h1{
            font-size: 5rem;
        }
        p{
            font-size: 4rem;
        }
        .header-section{
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60vh;
          flex-direction: column;
          
        }
    }

}