.header-content{
    h1{
        width: 250px;
        font-size: 2.3rem;
        padding-left: 1rem;
        padding-top: 10rem;
    }
    p{
        width: 250px;
        font-size: 1.2rem;
        padding-left: .8rem;
    }

}
div#root{
    padding: 0;
}