@use 'vars' as *;

.header-content{
    h1{
        // width: 250px;
        font-size: 2.3rem;
        // padding-left: 1rem;
        text-align: center;
        padding-top: 10rem;
        font-family: $headerfont;
        color: $textcolor;
    }
    p{
        font-size: 1.2rem;
        text-align: center;
        font-family: $bodyfont;
        color: $textcolor;
    }

}
div#root{
    padding: 0;
}