@use 'vars' as *;
.images{

  figure.featured-image{
      img{
          height: 50%;
          margin: 0 auto;
          padding-top: 1rem;
  
      }
  }
}
.featured-projects, .single-project {
  h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-top: 10rem;
    text-align: start;
    padding-left: 1rem;
    margin: .5rem auto;
    color: $textcolor;
    font-family: $headerfont;
    
  }
  h2.project-title{
    padding-top: 1rem;
    text-align: center;
    font-family: $headerfont;
  }
  .pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.dot{
  font-size: 0%;
}
.pagination-dots .dot {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
    background: url(/assets/images/circle.svg) no-repeat center center;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-style: none;
    border: 2px black solid;
    background-color: rgba(255, 255, 255, .3);
    
}

.pagination-dots .dot.active {
    background-color: white;
}

p.requirements{
  text-align: center;
  padding: 0 1rem 0 1rem;
  color: $textcolor;
  font-family: $bodyfont2;
  line-height: 1.5;
}


a.single-page{
 display: block;
 width: fit-content;
 margin: 0 auto;
 text-decoration: none;
 color: white;
 background-color: rgba(255, 255, 255, 0.1);
 border-radius: 50px; 
 padding: 10px 20px;
 box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2); 
 font-family: $bodyfont;
 letter-spacing: 1.5px;

}


div.project-container{
  border: 1px solid white;
  padding-bottom: 2rem;
  max-width: 90%;
  margin: 0 auto;
 
}

}

.single-project .requirements{
  border: 1px solid $bordercolor;
  padding: 1.2rem;
  max-width: 90%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  
}


@media screen and (min-width: 50em) {
  .images {
    figure.featured-image {
      img {
        max-width: 50%;
        margin: 0 auto;
        display: block;
      }
    }
  }

  .featured-projects {
    .works-title{
      margin-left: 19%;
    }
    div.project-container {
      max-width: 60%;
    }

    h2 {
      text-align: start;
      font-size: 2.2rem;
      padding-bottom: 1rem;
      
    }
  }

  p.requirements {
    font-size: 1.5rem; 
  }
  a.single-page {
    font-size: 1.4rem; 
    padding: 15px 30px;
  }
}